body {
  /*Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  min-width-width: 1350px;
}

.bibleQuiz {
  margin-top: 15px;
  letter-spacing: 30px;
  font-size: 30px;
  font-weight: 400px;
  font-family: 'Times New Roman', Arial, sans-serif;    
  margin-left: 50px;
  margin-right: auto;
  text-align: center;
  text-shadow: 2px 2px 0px black;
  color: #00CC00;
}

.image {
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
 }

.quizQuestion {
  font-family: 'Times New Roman', Arial, sans-serif;    
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 140px;
  text-shadow: 2px 2px 0px black];
  color: white;
}

.masthead {
  padding: 140.5em 0;
  padding-bottom: 20em;
  padding-top: 20em;
  width: 500px;
  height: 550px;
  background: white;
  margin: auto;
  margin-top: 20px;
  padding: 1%;
  padding-bottom: 50px;
  border: 1px solid black;
  background-color: #191919;
}
  

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /*Typography Declarations */
   font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  color: #25383b;
  display: none;
}

.masthead-heading {
  /* Layout Declarations */
  margin-top: -0.2em;
  /* Typography Declarations */
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000; 
  display: none;
}

.q1 {
  background-color: #FFCC00;
}

.box {
  width: 365px;
  height: 40px; 
  margin: 15px 350px;
  background: white;
  border-radius: 6px;
  text-align: center;
  font-family: 'Brush script std', Arial, sans-serif;    
  font-size: 22px;
  color: white;
  margin: 0 auto 5px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  text-shadow: 1px 1px 1px #000; 
  line-height: 40px;
  background-color: #14A714;
}

.box2 {
  width: 365px;
  height: 40px; 
  background: white;
  border-radius: 6px;
  text-align: center;
  font-family: 'Brush script std', Arial, sans-serif;    
  font-size: 22px;
  color: white;
  margin: 0 auto 5px;
  margin-left: 500px;
  border: 1px solid black;
  text-shadow: 1px 1px 1px #000; 
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  background-color: #14A714;
}

.box3 {
  width: 365px;
  height: 40px; 
  margin: 15px 350px;
  background: white;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-family: 'Brush script std', Arial, sans-serif;    
  font-size: 22px;
  margin: 0 auto 5px;
  margin-left: 500px;
  border: 1px solid black;
  text-shadow: 1px 1px 1px #000; 
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  background-color: #FFCC00;
}

.box4 {
  width: 365px;
  height: 40px; 
  margin: 15px 350px;
  background: white;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-family: 'Brush script std', Arial, sans-serif;    
  font-size: 22px;
  margin: 0 auto 5px;
  margin-left: 500px;
  border: 1px solid black;
  text-shadow: 1px 1px 1px #000; 
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
  background-color: #14A714;
}

.testYourKnowledge {
  width: 220px;
  height: 80px; 
  margin-top: 20px;
  margin-right: 408px;
  background: white;
  border-radius: 6px;
  text-align: right;
  color: white;
  font-family: 'Times New Roman', Arial, sans-serif;    
  font-size: 20px;
  color: black;
  border: 1px solid black;
  letter-spacing: 3px;
  line-height: 30px;
  float: right;
  background-color: #B22424;
}

.quizNumb li {
  display: inline-block;
}

.quizNumb {
  overflow: auto;
  text-align: center;
  margin-top: -510px;
  margin-left: -33px;
}

.quizNumb .icons li {
    display: inline-block;
    text-align: center;
    padding-right: 1px;
}


    /* Box Shadow */
    /* Opera */
    -o-box-shadow: 5px 5px 5px #666;
    /* IE */
    -ms-box-shadow: 5px 5px 5px #666;
    /* Mozilla FireFox */
    -moz-box-shadow: 5px 5px 5px #666;
    /* Google Chrome */
    -webkit-box-shadow: 5px 5px 5px #666;
    /* Normal */
    box-shadow: 5px 5px 5px #666;
}



/* Buttons */

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  color: black;
}

.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

.btn {
  padding-top: 7px;
  display: block;
  background: no-repeat;
  padding: 9px 5px 4px 12px;
  height: 38px;
  text-shadow: 1px 1px 0px #fff;
  font-weight: normal;
  float: right;
  margin-top: -10px;
}



@media expression {
    /* CSS rules go here */
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer {
        padding: 6em 10em;
    }
}